body{
    margin: 0;
}
.first-image{
    height: 700px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    
    
    
    }
    
    .parentContainer {
    position: relative;
    
    margin: 0%;
    background-color: #090A0F;
    padding: 0px;
    }
    
    
    
    .top-left {
    position: absolute;
    top: 230px;
    left: 200px;
    font-size: 80px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
    
    }
    span{
        color: blue;
    }
    .container{
        height: 900px;
        display: flex;
        gap:40px;
    }
    h1{
        color: #D6CC99;
        font-size: 60px;
        position: relative;
        
    }
    .initial{
        height: 850px;
    }
    
    p{
        color: white;
        font-size: 25px;
        position: relative;
        top:10px;
        
    }
    .about-me{
        width: 350px;
    }
   
    .s{
        width: 500px;
        
        
    }
    .p{
        color:#3085C3;
        position: relative;
        left: 35px;
        
    }
    .grid{
        display: grid;
        grid-template-columns:150px 150px 150px;
        grid-template-rows:150px 150px 150px;
        margin-top: 50px;
    }
    .second-grid{
        margin-top: 50px;
    }
    .animated{
        position: relative;
       
    }
    .container-grid{
        display: grid;
        grid-template-columns: 450px 400px;
        grid-template-rows: 250px 600px;
    }
    .skill{
        grid-area:2/2/3/3;
    }
    .plus-before {
        content: '';
        width: 150px;
        height: 1px;
        background: white;
        position: absolute;
        right: 260px;
        top: 950px;
    }
    .plus-after {
        content: '';
        width: 1px;
        height: 150px;
        background: white;
        position: absolute;
        right:330px ;
        top: 880px;
    }
    .plus{
        grid-area: 1/2/2/3;
    }
    .plustwo{
        grid-area: 2/1/3/2;
    }
    .plus-aftertwo {
        content: '';
        width: 1px;
        height: 150px;
        background: white;
        position: absolute;
        left:680px ;
        top: 1350px;
    }
    .plus-beforetwo {
        content: '';
        width: 150px;
        height: 1px;
        background: white;
        position: absolute;
       left: 605px;
        top: 1425px;
    }
    #web{
        color: yellow;
    }
    .portfolio{
        height: 1750px;
        background-color: #97746a;
    }
    
    .heading-portfolio div{
        font-size: 100px;
        margin-left: 80px;
        
    }
    #next{
        padding-left: 40px;   
    }
    
    #my{
        font-size:60px;
        padding-top:100px ;
        
    }
    .hr{
        width:40%;
        margin-left: 20px;
        height: 0px;
        border-top: 1px solid red;
        border-radius: 100%;
        
    }
    .flex-container{
        display: flex;
        flex-direction: row;
    }
    .tindog-project{
        width: 1000px;
        height: 500px;
        border: 5px solid brown;
        margin-top: 120px;
        border-left: 0;
        border-radius: 8px;
    }
    .about-tindog{
        background-color: #B67c4c;
        height: 500px;
        width: 500px;
    }
    .tin{
        width: 200px;
        
        position: relative;
        top: px;
        border-top:2px solid purple;
        border-radius: 100%;
    }
    #tindog{
        font-size: 60px;
        padding: 0px;
        margin: 20px;
        text-align: center;
        color: purple;
    }
    .para{
        margin-left: 20px;
    }
    button{
        background-color: yellow;
        color: black;
        border: 2px solid black;
        width: 100px;
        height: 40px;
        border-radius: 20px;
        position: relative;
        top: 20px;
        left: 20px;
    }
    .move-it{
        width: 1000px;
        height: 500px;
        border: 5px solid brown;
        margin-top: 120px;
        border-right: 0;
        border-radius: 8px;
        position: relative;
        right: 10px;
        left: 514px;
    }
    .about-move{
        background-color:#dcd9cd;
        height: 500px;
        width: 500px;
    }
    .paragraph{
        color: black;
        margin-left: 20px;
    }
    #move{
        font-size: 60px;
        padding: 0px;
        margin: 20px;
        text-align: center;
        color: purple;
        
    }
    .tint{
        width: 200px;
        
        position: relative;
        top: px;
        border-top:2px solid black;
        border-radius: 100%;
        color: #090A0F;
    }
    .connect{
        height: 790px;
        background-color:#FCFBF4;
        margin-top:0px;
        padding-top: 10px;
    }
    .para-con{
        color: black;
        font-size: 30px;
        left: 30px;
    } 
    h4{
        font-size: 80px;
        position: relative;
        top: 50px;
        left: 30px;
    }
    .flexc-container{
        display: flex;
        justify-content: space-between;
    }

 

    .outer-box{
        width:650px;
        height: 490px;
        border: 5px solid black;
        position: relative;
        right:80px ;
        top: 90px;
        border-radius: 50px;
        background-color:#7149C6;
        box-shadow: 5px 5px;
    }
    .hi{
        font-size: 40px;
        position: relative;
        left: 25px;
    }
    .v{
        margin-left: 30px;
        color: black;
        border: 2px solid black;
        height: 50px;
        width: 550px;
        border-radius: 15px;
        background-color: #FBFAF0;
        box-shadow: 5px 5px;
    }
    .comment{
        height: 130px;
        
    }
    .email{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h5{
        font-size:25px;
        position: relative;
        left: 25px;
        bottom: 30px;
        color: black;
    }
    .button-con{
        left: 30px;
        background-color: #D6CC99;
    }
    #port{
        color: #301934;
    }
    .icons{
        display: inline;
        position: relative;
        left:1000px
    }
    .ul li{
        display: inline;
        padding-right: 45px;
    }
    li{
        list-style: none;
    }
    .footer{
        background-color: #304146;
        height: 250px;
        margin:0px ;
        padding:2px;
    }
    #foot{
        color: white;
        font-size: 25px;
        position: relative;
        top: 35px;
        left: 20px;
    }
    @media(max-width:1200px){
        .first-image{
            height: 500px;
            width: 600px;
            padding: 0px;
            margin: 0px;
    }
    .top-left {
        position: absolute;
        top: 200px;
        left: 100px;
        font-size: 35px;
        text-align: center;
        font-family: 'Libre Baskerville', serif;
        color: white;
        
        }
        .initial{
            height: 550px;
        }
        .animated{
            position: relative;
            height: 550px;
            top: 190px;
        }
        .about-me{
            width: 200px;
        }
        p{
            color: white;
            font-size: 20px;
            position: relative;
            top:90px;
            
        }
        .plus-aftertwo {
            content: '';
            width: 0px;
            height: 0px;
            background: white;
            position: absolute;
            left:680px ;
            top: 1350px;
        }
        .plus-beforetwo {
            content: '';
            width: 0px;
            height: 0px;
            background: white;
            position: absolute;
           left: 605px;
            top: 1425px;
        }
        .plus-before {
            content: '';
            width: 0px;
            height: px;
            background: white;
            position: absolute;
            right: 260px;
            top: 950px;
        }
        .plus-after {
            content: '';
            width: px;
            height: 0px;
            background: white;
            position: absolute;
            right:330px ;
            top: 880px;
        }
        .container-grid{
            display:block ;
            grid-template-columns: 450px 400px;
            grid-template-rows: 250px 600px;
        }
        h1{
            color: #D6CC99;
            font-size: 40px;
            position: relative;
            top: 90px;
        }
        .horizontal{
            position: relative;
            top: 80px;
        }
        .skill{
            position: relative;
            left: 1px;
            right: 1px;
        }
        .code{
            height: 50px;
            position: relative;
            top: 100px;
        }
       
        .grid{
            display: grid;
            grid-template-columns:80px 80px 80px;
            grid-template-rows:80px 80px 80px;
            margin-top: 50px;
        }
        .line-skill{
            position: relative;
            top: 90px;
            width:  200px;
            margin-right: 40px;
        }
        .flex-container{
            display: flex;
            flex-direction: column;
        }
        .tindog-project{
            width: 500px;
            height: 1005px;
            border: 5px solid brown;
            margin-top: 120px;
            border-left: 0;
            border-radius: 8px;
        }
        button{
            background-color: yellow;
            color: black;
            border: 2px solid black;
            width: 100px;
            height: 40px;
            border-radius: 20px;
            position: relative;
            top: 130px;
            left: 20px;
        }
        .para{
            margin-left: 20px;
            font-size: 24px;
            margin-top: 1px;
        }
        .portfolio{
            height: 2700px;
            background-color: #97746a;
        }
        .move-it{
            width: 500px;
            height: 1000px;
            border: 5px solid brown;
            margin-top: 120px;
            border-right: 0;
            border-radius: 8px;
            position: relative;
            right: 10px;
            left: 110px;
        }
        .paragraph{
            font-size: 22px;
            margin-top: 1px;
        }
        .connect{
            height: 1000px;
            background-color:#FCFBF4;
            margin-top:0px;
            padding-top: 10px;
        }
        .flexc-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .para-con{
            color: black;
            font-size: 30px;
            left: 30px;
            margin-top: 10px;
            
        } 
        h4{
            font-size: 60px;
            position: relative;
            top: 50px;
            padding: 0px;
            margin: 30px;
            left: 0px;
        }
        .outer-box{
            width:500px;
            height: 490px;
            border: 5px solid black;
            position: relative;
            left:60px ;
            top: 120px;
            border-radius: 50px;
            background-color:#7149C6;
            box-shadow: 5px 5px;
        }
        .hi{
            font-size: 40px;
            position: relative;
            left: 25px;
            top: 10px;
        }
        .v{
            margin-left: 20px;
            color: black;
            border: 2px solid black;
            height: 50px;
            width: 450px;
            border-radius: 15px;
            background-color: #FBFAF0;
            box-shadow: 5px 5px;
        }
        .comment{
            height: 130px;
            
        }
        .button-con{
            left: 30px;
            background-color: #D6CC99;
            top: 30px;
        }
        .icons{
            display: inline;
            position: relative;
            left:300px;
            top: 0px;
        }
        .ul li{
            display: inline;
            padding-right: 20px;
        }
        li{
            list-style: none;
        }
        .footer{
            background-color: #304146;
            height: 220px;
            margin:0px ;
            padding:2px;
        }
        #foot{
            color: white;
            font-size: 18px;
            position: relative;
            top: 40px;
            left: 20px;
        }
        .heading-portfolio div{
            font-size: 100px;
            margin-left: 80px;
            
        }
        #next{
            padding-left:10px;   
        }
        
        #my{
            font-size:60px;
            padding-top:100px ;
            margin-left: 50px;
        }
        .hr{
            width:40%;
            margin-left: 20px;
            height: 0px;
            border-top: 1px solid red;
            border-radius: 100%;
            
        }
    }